.eventdetail_container {
  background-color: blanchedalmond;
  padding: 1rem;
}

.eventdetail_container > .participants {
  background-color: aliceblue;
  padding: 0.5rem;
}

.eventdetail_container > .requirements {
  background-color: beige;
  padding: 0.5rem;
}